.safari-bottom {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

.rectangle-6 {
  width: 134px;
  height: 5px;
  object-fit: cover;
  border-radius: 20px;
  align-self: flex-end;
  margin-bottom: 13px;
  margin-left: 128px;
  margin-right: -162px;
}

.safari-bottom-instance-3 {
  height: 100%;
  flex-basis: 100%;
  margin-left: -34px;
}
