.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Screen-4 {
  color: #fff;
  width: 100%;
  height: 100%;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 13px;
  font-family: PT Sans, Arial;
  font-size: 1.143rem;
  font-weight: 700;
  line-height: 20px;
  display: flex;
  visibility: hidden;
}

.flex-containerx {
  color: #000;
  text-align: center;
  width: 100%;
  flex-direction: column;
  flex-basis: 4%;
  justify-content: space-between;
  align-self: flex-start;
  align-items: stretch;
  padding-right: 15px;
  font-family: Roboto, Arial;
  font-size: 1.071rem;
  font-weight: 500;
  display: flex;
}

.systemstatus-barx {
  width: 375px;
  height: 35px;
  margin-bottom: -30px;
}

.cat-absolute-containerx {
  z-index: 1;
  width: 100%;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: center;
  padding-top: 4px;
  padding-left: 37px;
  display: flex;
}

.num-1222x {
  align-self: center;
  margin-top: 2px;
}

.nav-barx {
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: center;
  margin-right: 0px;
  display: flex;
}

.sports-barx {
  position: fixed;
  top: 45px;
  left: 325px;
  width: 28px;
  height: 28px;
  align-self: center;

}

.local-mallx {
  height: 50%;
  flex-direction: row;
  flex-basis: 6%;
  align-self: center;
  margin-bottom: 2px;
  margin-right: -651px;
  display: flex;
}

.menux {
  position: fixed;
  top: 45px;
  left: 40px;
  width: 28px;
  height: 28px;
}

.heineken-logo-pngx {
  position: fixed;
  top: 37px;
  left: 150px;
  width: 82px;
  height: 43px;
  background-position: center;
  margin-bottom: 1px;
  margin-right: -635px;
}

.rectangle-7x {
  position: fixed;
  top: 35px;
  left: 0px;
  width: 390px;
  height: 48px;
}

.flex-container-1x {
  color: #0b6e29;
  width: 100%;
  flex-direction: column;
  flex-basis: 30%;
  justify-content: space-between;
  align-self: flex-start;
  align-items: center;
  margin-bottom: 5px;
  font-size: .857rem;
  line-height: 11px;
  display: flex;
}

.f-1-grand-prix-mapx {
  position: fixed;
  top: 90px;
  left: 0px;
  width: 390px;
  height: 260px;
  margin-bottom: -260px;
}
  
.select-bar-to-orderx {
  color: #000000;
  position: fixed;
  top: 350px;
  left: 10px;
  font-family: sans-serif, Arial;
  font-size: 1.12rem;
  font-weight: 500;
  line-height: 32px;
}

#select-button-1 {
  position: fixed;
  width: 370px;
  height: 40px;
  top: 400px;
  left: 10px;
  font-family: sans-serif, Arial;
  border: 1px solid #0b6e29;
  letter-spacing: 1px;
  color:#0b6e29;
  font-size: 1.0rem;
  font-weight: 700;
  border-radius: 0px;
}

.queue-1{
  position: fixed;
  width: 370px;
  height: 30px;
  top: 380px;
  left: 10px;
  border: 1px solid #0b6e29;
  letter-spacing: 1px;
  color:#0b6e29;
  font-size: 1.0rem;
  font-weight: 700;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
}

.queue-2{
  position: fixed;
  width: 370px;
  height: 30px;
  top: 430px;
  left: 10px;
  border: 1px solid #0b6e29;
  letter-spacing: 1px;
  color:#0b6e29;
  font-size: 1.0rem;
  font-weight: 700;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
}

.queue-3{
  position: fixed;
  width: 370px;
  height: 30px;
  top: 480px;
  left: 10px;
  border: 1px solid #0b6e29;
  letter-spacing: 1px;
  color:#0b6e29;
  font-size: 1.0rem;
  font-weight: 700;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
}

.queue-4{
  position: fixed;
  width: 370px;
  height: 30px;
  top: 530px;
  left: 10px;
  border: 1px solid #0b6e29;
  letter-spacing: 1px;
  color:#0b6e29;
  font-size: 1.0rem;
  font-weight: 700;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
}

.queue-5{
  position: fixed;
  width: 370px;
  height: 30px;
  top: 580px;
  left: 10px;
  border: 1px solid #0b6e29;
  letter-spacing: 1px;
  color:#0b6e29;
  font-size: 1.0rem;
  font-weight: 700;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
}

.Screen-1{
  text-align: center;
  color: #000;
  width: 100%;
  height: 100%;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  font-family: Roboto, Arial;
  font-size: 1.143rem;
  font-weight: 500;
  line-height: 21px;
  display: flex;
}

.rectangle {
  position: fixed;
  top: 35px;
  left: 0px;
  width: 390px;
  height: 682px;
  margin-bottom: -682px;
  /*padding-top: 80px;*/
}

.heineken-logo-png {
  position: fixed;
  top: 58px;
  left: 92px;
  width: 200px;
  height: 115px;
  background-position: center;
  margin-bottom: 200x;
}

.beer {
  position: fixed;
  width: 81px;
  height: 130px;
  left: 64px;
  top: 230px;
}

.map {
  position: fixed;
  width: 106px;
  height: 117px;
  left: 64px;
  top: 440px;
  margin-top: 1px;
}
.rectangle-1a {
  width: 85%;
  background-color: #f2fff7;
  border-radius: 8px;
  position: fixed;
  width: 280px;
  height: 150px;
  left: 55px;
  top: 220px;
  justify-content: space-evenly;
}

.take-me-to-the-fast-lane {
  position: fixed;
  width: 160px;
  height: 200px;
  left: 155px;
  top: 240px;
  color: #000;
  font-family: Serif, Arial;
  font-weight: 500;
  line-height: 30px;
  font-size: 1.42rem;
  justify-content: space-between;
}

.im-done-for-the-day {
  position: fixed;
  width: 140px;
  height: 200px;
  left: 180px;
  top: 445px;
  color: #000;
  font-family: Serif, Arial;
  font-weight: 500;
  line-height: 30px;
  font-size: 1.42rem;
  justify-content: space-between;
}

.rectangle-2a {
  width: 85%;
  background-color: #f2fff7;
  border-radius: 8px;
  position: fixed;
  width: 280px;
  height: 150px;
  left: 55px;
  top: 430px;
  justify-content: space-evenly;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
/*   transition-duration: 0.4s; */
}

.button:hover {
  background-color: #d3e9d4; /* Green */
  color: #4CAF50;
}

#to-18 {
  position: fixed;
  top:310px;
  left: 140px;
  width: 185px;
}

#to-valet {
  position: fixed;
  top:520px;
  left: 175px;
  width: 150px;
}

.Screen-2{
  text-align: center;
  color: #000;
  width: 100%;
  height: 100%;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  font-family: Roboto, Arial;
  font-size: 1.143rem;
  font-weight: 500;
  line-height: 21px;
  display: flex;
  visibility:hidden;
}
.please-note-that-the-purchase-of-1{
  font-family: Arial;
  line-height: 20px;
  position: fixed;
  width: 330px;
  height: 200px;
  left: 30px;
  top: 400px;
  color: #ffffff;
  font-weight: 300;
  font-size: 0.85rem;
  justify-content: space-between;
}

.are-you-18-years-old-above {
  font-family: Serif, Arial;
  line-height: 32px;
  position: fixed;
  width: 330px;
  height: 200px;
  left: 30px;
  top: 250px;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.42rem;
  justify-content: space-between;
}

.giant-button {
  background-color: #ffffff; /* Green */
  border: none;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
/*   transition-duration: 0.4s; */
  width: 80px;
  height: 70px;
  font-size: 1.8rem;
  font-weight: 700;
}

.giant-button:hover {
  background-color: #d3e9d4; /* Green */
  color: #4CAF50;
  
}

#no-button{
  position:fixed;
  top: 311px;
  left: 100px;
  color: rgb(0, 0, 0);
}

#yes-button{
  position:fixed;
  top: 311px;
  left: 200px;
  color:#0b6e29;
}

.Screen-3{
  text-align: center;
  color: #000;
  width: 100%;
  height: 100%;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  font-family: Roboto, Arial;
  font-size: 1.143rem;
  font-weight: 500;
  line-height: 21px;
  display: flex;
  visibility:hidden;
}

.group {
  position: fixed;
  top: 200px;
  left: 125px;
  width: 121px;
  height: 121px;
  object-fit: cover;
  align-self: center;
  margin-left: 7px;
}

.the-age-for-beer-adventures-is-y {
  font-family: Serif;
  position: fixed;
  top: 325px;
  left: 30px;
  color: #ffffff;
  font-weight: 6000;
  font-size: 1.15rem;
  width: 330px;
  text-align: center;
  align-self: center;
}

.please-note-that-the-purchase-of {
  font-family: Arial;
  line-height: 20px;
  position: fixed;
  width: 330px;
  height: 200px;
  left: 32px;
  top: 500px;
  color: #ffffff;
  font-weight: 300;
  font-size: 0.85rem;
  justify-content: space-between;
}

.button-1 {
  background-color: white; /* Green */
  border: none;
  color: #276029;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
/*   transition-duration: 0.4s; */
}

.button-1:hover {
  background-color: #d3e9d4; /* Green */
  color: #4CAF50;
}

#to-home{
  position: fixed;
  top:420px;
  left: 122px;
  width: 140px;
}

.Screen-5 {
  text-align: center;
  color: #000;
  width: 100%;
  height: 100%;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  font-family: Roboto, Arial;
  font-size: 1.143rem;
  font-weight: 500;
  line-height: 21px;
  display: flex;
  visibility:hidden;
}

.rectangle-1 {
  width: 85%;
  background-color: #f2fff7;
  border-radius: 8px;
  position: fixed;
  width: 300px;
  height: 150px;
  left: 45px;
  top: 220px;
  justify-content: space-evenly;
}

.car {
  position: fixed;
  top:230px;
  left: 55px;
  width: 120px;
}
.when-you-drink-never-drive {
  position: fixed;
  width: 160px;
  height: 200px;
  left: 175px;
  top: 235px;
  color: #000;
  font-family: Serif, Arial;
  font-weight: 500;
  line-height: 30px;
  font-size: 1.42rem;
  justify-content: space-between;
}

.not-behind-the-wheels {
  position: fixed;
  width: 160px;
  height: 200px;
  left: 175px;
  top: 450px;
  color: #000;
  font-family: Serif, Arial;
  font-weight: 500;
  line-height: 30px;
  font-size: 1.42rem;
  justify-content: space-between;
}

.rectangle-2 {
  width: 85%;
  background-color: #f2fff7;
  border-radius: 8px;
  position: fixed;
  width: 300px;
  height: 150px;
  left: 45px;
  top: 430px;
  justify-content: space-evenly;
}

.public-transport {
  position: fixed;
  top:450px;
  left: 55px;
  width: 120px;
}

#car-button {
  position: fixed;
  top:300px;
  left: 188px;
  width: 135px;
} 

#pub-transpo-button {
  position: fixed;
  top:510px;
  left: 180px;
  width: 150px;
  font-size: 0.9rem;
}